<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gestione_Formulari.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Gestione_Formulari.Properties.Settings>
            <setting name="LastPathStart" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPathDest1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPathDest2" serializeAs="String">
                <value />
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>800</value>
            </setting>
        </Gestione_Formulari.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itext.io" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.15.0" newVersion="7.1.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.kernel" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.15.0" newVersion="7.1.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.layout" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.15.0" newVersion="7.1.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.pdfa" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.15.0" newVersion="7.1.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.styledxmlparser" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.15.0" newVersion="7.1.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>